<div class="flex flex-row h-screen">
    <div class="flex flex-col justify-between items-center w-16 p-4 bg-gray-200">
    <div class="flex flex-col space-y-4">
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
    </div>   
    <div>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
        <a><div class="rounded-full bg-gray-400 w-8 h-8"></div></a>
    </div>
    </div>
    <div class="w-64">submenu</div>
    <div class="flex-auto bg-blue-200">main cont</div>

</div>
